<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-12">
    <div class="common-bg">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
          <div class="form-group"><label>Title</label> <input type="text" class="form-control" placeholder="" /></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
          <label>Date</label> <input type="text" class="form-control" placeholder="" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
          <label>Author</label> <input type="text" class="form-control" placeholder="" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-12">
          <div class="form-group"><label>Cover Photo</label> <input type="file" class="form-control-file" /></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="accordionExample">
            
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Category Name 1
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                      <h6>Explanatory text</h6>
                      <label>Section title </label> <input type="text" class="form-control" placeholder="" />                      
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                      <button type="submit" class="btn btn-success submit-btn" (click)="submitCategory()" title="Submit category">Submit Category</button>
                    </div>
                  </div>
                  <div class="dotted-bg">
                    <div class="dotted-inner dotted-list " cdkDropList id="list-proposal" (cdkDropListDropped)="drop($event)">
                      <div
                        class="close-btn"
                        *ngFor="let item of proposals[0].controls; let i = index"
                        [cdkDragDisabled]="item.isdragdisabled"
                        [ngClass]="item.isdragdisabled === 'true' ? 'control-single-click' : 'control-double-click' "
                        (dblclick)="onDblClick(item)"
                        cdkDrag                        
                      >                      
                      <i class="fa fa-times-circle-o close-btn-visible" (click)="closeModule(i)" title="Delete"></i>
                
                        <app-title-control
                          class="controls-padding"
                          [data]="item.ctrvalue"
                          (onValueChange)="item.ctrvalue = $event"
                          (IsDragDisabled)="item.isdragdisabled = $event"
                          *ngIf="item.ctrltype == 'title'"
                        ></app-title-control>

                        <app-description-control
                          class="controls-padding"
                          [data]="item.ctrvalue"
                          (onValueChange)="item.ctrvalue = $event"
                          (IsDragDisabled)="item.isdragdisabled = $event"
                          *ngIf="item.ctrltype == 'desc'"
                        ></app-description-control>

                        <app-img-control
                          class="controls-padding"
                          (IsDragDisabled)="item.isdragdisabled = $event"
                          [data]="item.ctrvalue"
                          *ngIf="item.ctrltype == 'img'"
                        ></app-img-control>

                        <app-estimate-control
                          [submitValidation]="categorySubject"
                          [data]="item.ctrvalue"
                          [isPreview]="false"                     
                          (onValueChange)="item.ctrvalue = $event"
                          (IsDragDisabled)="item.isdragdisabled = $event"
                          *ngIf="item.ctrltype == 'estm'"           
                        ></app-estimate-control>

                        <app-subtitle-control
                        class="controls-padding"
                          [data]="item.ctrvalue"
                          (onValueChange)="item.ctrvalue = $event"
                          (IsDragDisabled)="item.isdragdisabled = $event"
                          *ngIf="item.ctrltype == 'subtitle'"
                        ></app-subtitle-control>

                        <app-documents-control
                        class="controls-padding"
                        (IsDragDisabled)="item.isdragdisabled = $event"
                        [data]="item.ctrvalue"
                        *ngIf="item.ctrltype == 'documents'"
                      ></app-documents-control>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button
                   class="btn btn-link collapsed"
                    type="button"
                     data-toggle="collapse"
                      data-target="#collapseTwo"
                    aria-expanded="false"
                     aria-controls="collapseTwo"
                     >
                    Category Name 2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                  butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                  haven't heard of them accusamus labore sustainable VHS.                  
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Category Name 3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                  officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                  moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                  keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                  butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                  haven't heard of them accusamus labore sustainable VHS.                                    
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-12">
    <div class="common-bg">
      <div class="title-text">
        <h4>Tools</h4>
        <ul class="icon-nav"          
          cdkDropListSortingDisabled
          cdkDropList
          [cdkDropListConnectedTo]="['list-proposal']"          
          (cdkDropListDropped)="drop($event)"
        >
          <li cdkDrag [cdkDragData]="'6'">
            <a href="javascript:void(0)"><img src="../assets/images/01.png" title="#" alt="#"/></a>
          </li>
          <li cdkDrag [cdkDragData]="'3'">
            <a href="javascript:void(0)"><img src="../assets/images/02.png" title="#" alt="#"/></a>
          </li>
          <li cdkDrag [cdkDragData]="'2'">
            <a href="javascript:void(0)"><img src="../assets/images/03.png" title="#" alt="#"/></a>
          </li>
          <li cdkDrag [cdkDragData]="'7'">
            <a href="javascript:void(0)"><img src="../assets/images/04.png" title="#" alt="#"/></a>
          </li>
        </ul>
      </div>

      <div class="title-text">
        <h4>Content</h4>
        <div class="white-search">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-12">
              <input type="text" class="form-control" name="search" id="search" placeholder="Search" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12 text-center">
              <a href="javascript:void(0)"><i class="fa fa-search mar-top"></i></a>
            </div>
          </div>
        </div>

        <!-- Section for RHS tiles -->
        <div
          cdkDropListSortingDisabled
          cdkDropList
          id="list-tiles"
          [cdkDropListConnectedTo]="['list-proposal']"
          [cdkDropListData]="tiles"
          (cdkDropListDropped)="drop($event)"
          class="row"
        >
          <div cdkDrag [cdkDragData]="tile" *ngFor="let tile of tiles" class="content-box dotted-box">
            <div class="row info-right">
              <span *ngFor="let control of tile.controls">
                <h5 *ngIf="control.ctrltype === 'title'">{{ control.ctrvalue }}</h5>
                <p *ngIf="control.ctrltype === 'desc'">{{ control.ctrvalue }}</p>
                <img *ngIf="control.ctrltype === 'img'" src="{{ control.ctrvalue }}" title="#" alt="#" class="img-fluid" />
              </span>
            </div>
          </div>
        </div>
        <!-- Section for RHS tiles -->
      </div>
    </div>
  </div>
</div>
