<section class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li><a href="#tab1default" data-toggle="tab">Proposal</a></li>
            <li><a href="#tab2default" data-toggle="tab">Content </a></li>

          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab1default">
              <div class="tab-pane-bdr">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h3>New Proposal</h3>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <ul class="custom-nav">
                      <li><a href="javascript:void(0)" class="custom-btn">Generate Proposal</a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>


              <app-proposal></app-proposal>


            </div>
            <div class="tab-pane" id="tab2default">Place your content here</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<router-outlet></router-outlet> -->