<section class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li><a href="#tab1default" data-toggle="tab">Proposal</a></li>
            <li><a href="#tab2default" data-toggle="tab">Content </a></li>

          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab1default">
              <div class="tab-pane-bdr">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h3>New Proposal</h3>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <ul class="custom-nav">
                      <li><a href="javascript:void(0)" class="custom-btn">Generate Proposal</a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="panel-heading">
                <ul class="nav nav-tabs">
                  <li><a href="#tabproposal" data-toggle="tab">Create Proposal</a></li>
                  <li><a href="#tabpreview" data-toggle="tab">Preview Proposal</a></li>
      
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="tabproposal">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                      <div class="common-bg">
                        <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="form-group">
                              <label>Title</label>
                              <input type="text" class="form-control" placeholder="">
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <label>Date</label>
                            <input type="text" class="form-control" placeholder="">
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <label>Author</label>
                            <input type="text" class="form-control" placeholder="">
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-12">
                            <div class="form-group">
                              <label>Cover Photo</label>
                              <input type="file" class="form-control-file">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="accordion" id="accordionExample">
                              <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseOne">
                                      Category Name 1
                                    </button>
                                  </h2>
                                </div>
    
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                        <h6>Explanatory text</h6>
                                        <label>Section title </label>
                                        <input type="text" class="form-control" placeholder="">
                                      </div>
                                    </div>
                                    <div class="dotted-bg">
                                      <div class="dotted-inner dotted-list " cdkDropList id="list-proposal"
                                        (cdkDropListDropped)="drop($event)">
                                        <div *ngFor="let item of _proposalArray[0].controls" class="dotted-box" cdkDrag>
                                          <div class="col-lg-11 col-md-11 col-sm-11 col-11">
                                            <input *ngIf="item.ctrltype=='title'" type="text" class="form-control"
                                              placeholder="Content Title" [(ngModel)]="item.ctrvalue" />
    
                                            <!-- <textarea class="form-control" *ngIf="item.ctrltype=='desc'"
                                            id="exampleFormControlTextarea1" rows="3">{{item.ctrvalue}}</textarea> -->
                                            <div *ngIf="item.ctrltype=='desc'" class="editor">
                                              <ckeditor id="exampleFormControlTextarea1" [(ngModel)]="item.ctrvalue" [config]="_config" ></ckeditor>
                                            </div>
                                            <img *ngIf="item.ctrltype=='img'" src="{{item.ctrvalue}}" title="#" alt="#"
                                              height="100" width="100" />
                                             
                                          </div>
                                          <div class="col-lg-1 col-md-1 col-sm-1 col-1">
    
    
                                            <div class="dotted-handle" cdkDragHandle>
                                              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                                                </path>
                                                <path d="M0 0h24v24H0z" fill="none"></path>
                                              </svg>
                                            </div>
    
                                          </div>
                                          
                                        </div>
                                       
                                      </div>
    
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingTwo">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                      aria-expanded="false" aria-controls="collapseTwo">
                                      Category Name 2
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                  <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                    ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
                                    it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" id="headingThree">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                      aria-expanded="false" aria-controls="collapseThree">
                                      Category Name 3
                                    </button>
                                  </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                  <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                    ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
                                    it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                    sustainable VHS.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                      <div class="common-bg">
                        <div class="title-text">
                          <h4>Tools</h4>
                          <ul class="icon-nav">
                            <li><a href="javascript:void(0)"><img src="../assets/images/01.png" title="#" alt="#" /></a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../assets/images/02.png" title="#" alt="#" /></a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../assets/images/03.png" title="#" alt="#" /></a>
                            </li>
                            <li><a href="javascript:void(0)"><img src="../assets/images/04.png" title="#" alt="#" /></a>
                            </li>
                          </ul>
                        </div>
    
    
                        <div class="title-text">
                          <h4>Content</h4>
                          <div class="white-search">
                            <div class="row">
                              <div class="col-lg-10 col-md-10 col-sm-10 col-12">
                                <input type="text" class="form-control" name="search" id="search" placeholder="Search">
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-2 col-12 text-center">
                                <a href="javascript:void(0)"><i class="fa fa-search mar-top"></i></a>
                              </div>
                            </div>
                          </div>
    
                          <!-- Section for RHS tiles -->
                          <div cdkDropListSortingDisabled cdkDropList id="list-tiles" [cdkDropListConnectedTo]="['list-proposal']"
                            [cdkDropListData]="_tilesArray" (cdkDropListDropped)="drop($event)" class="row">
                            <div cdkDrag [cdkDragData]="tile" *ngFor="let tile of _tilesArray" class="content-box dotted-box">
                              <div class="row info-right">
                                <span *ngFor="let control of tile.controls">
                                  <h5 *ngIf="control.ctrltype ==='title' ">{{control.ctrvalue}}</h5>
                                  <p *ngIf="control.ctrltype ==='desc' ">{{control.ctrvalue}}</p>
                                  <img *ngIf="control.ctrltype ==='img' " src="{{control.ctrvalue}}" title="#" alt="#"
                                    class="img-fluid" />
    
                                </span>
                              </div>
                            </div>
                          </div>
                          <!-- Section for RHS tiles -->
    
    
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tabpreview">
                    <div class=" panel panel-default">
                        <div class="col-lg-12 col-md-12 col-sm-8 col-12">
                    <div class="common-bg">
                        <h3>Section title</h3>

                 
                          <div *ngFor="let item of _proposalArray[0].controls">
                          <div *ngIf="item.ctrltype=='title'" class="panel-heading px-2"><h4>{{item.ctrvalue}}</h4></div>
                          <div *ngIf="item.ctrltype=='desc'"  class="panel-body px-2" [innerHtml] ="item.ctrvalue " ></div>
                          <div *ngIf="item.ctrltype=='img'" class="panel-body px-2">  <img  src="{{item.ctrvalue}}" height="200" width ="200" title="#" alt="#"
                                               /></div>
                          </div>
                      
                      </div>
                    </div>
                  </div>

                </div>
              </div>
             


            </div>
            <div class="tab-pane" id="tab2default">Place your content here</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<router-outlet></router-outlet>