<p *ngFor="let file of files">
    <img [attr.src]="file.name.indexOf('.pdf')>-1 ? '../assets/images/pdf-icon.png' : '../assets/images/xlsx-icon.png'"
        height="35px" width="70px" title="#" alt="#" />
    {{file.name}}
    <img src="../assets/images/file-detail.png" class="img-detail" (click)="previewFile(file)" />
    <img src="../assets/images/delete-file.png" class="img-delete" (click)="onDeleteFile(file)" />
</p>

<div class="inputWrapper">
    Choose File
    <input #documentFile type="file" class="fileInput" name="" multiple (change)="onSelectFile($event)"
        accept=".pdf,.csv,.xlsx" />
</div>